<h2 class="headings-main">{{title}}</h2>
<div id="main">
    This is a demo CRUD application built with Node.js, Express, MongoDB and Handlebars as a templating engine.
    The functionality is simple, it's an eLibrary book reservation system where books can be added, edited and updated.
    Users can reserve a book which is reserved for them for 2 mins by Redis and they have to checkout the book at the 
    counter, otherwise after 2 mins their reservation expires.
    <span class="focus">
        This task is hosted on Github and deployed on Heroku. Heroku is linked to the master branch of this task's repo
        and any commits pushed to the default master branch are automatically built and deployed to Heroku. This is something
        Heroku does itself I just had to connect the repo, but I am familiar with CI/CD tools like Jenkins etc.
        I've also sent you an invitation on to my workspace on Postman in case you people want to test the APIs I've developed so far.
        I'm also including the links to the Github repo in case you want to check my my code.
        <span>If you haven't received my invite links for Postman workspace, please follow the invite link below to access the workspace</span>
    </span>
    <div style="margin:auto;width:max-content;padding:1em 0em;">
        <a href="https://github.com/mob-abbas/crud-app" target="_blank">GitHub</a>
        <a href="https://mobinspire.herokuapp.com/" target="_blank">Heroku App</a>
        <a href="https://app.getpostman.com/join-team?invite_code=8bd86ece99b05450c851b8c6ce6e99f4&ws=282b71e1-ccea-4810-b102-169d28d8e655" target="_blank">Postman Workspace</a>
    </div>
    <span class="focus">
        I am good with HTML and CSS3, but not too good with templating engines and I am also not sure what else to put on the front-end.
        I'll create a chat-box for the purpose of implementing Socket.io, tomorrow on 19th April 2019. 
    </span>
</div>
<div id="chatbox"><div id="pre-chat">
        <span>Chat here</span>
        <input id="username" placeholder="Type a username">
        <button id="startChatBtn" onclick="startChat()" >Start Chat</button>
    </div>
    <span id="inbox"></span>
    <span id="messageField">
    <input type="text" id="message" name="message">
    <span id="sendBtn" onclick="sendMessage()">SEND</span>
    </span>
</div>